@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@700&family=Overpass+Mono:wght@400;700&family=Playfair+Display+SC:wght@400;700&display=swap');

:root {
  --inter: Inter, 'sans-serif';
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --primaryColor: #040404;
  --secondaryColor: #FFC915;
  --tertiaryColor: #FAFAFA;
  --radius: 8px;
  --linear-gradient: linear-gradient(129deg, rgba(255, 201, 21, 0.40) 0%, rgba(255, 243, 191, 0.05) 100%);
  --text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.25);
  --drop-shadow: 2px 4px 4px rgba(4, 4, 4, 0.25);
}


* {
  font-family: var(--inter);
  font-weight: var(--regular);
  color: var(--primaryColor);
  /* background: var(--tertiaryColor); */
}

html, body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  height: 39.11px;
  backdrop-filter: blur(10px);
  background: rgba(252, 252, 252, 0.2);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 1px 2px rgba(4, 4, 4, 0.35);
  z-index: 1;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 14.22px;
  background: transparent;
}

main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

main > div {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background, .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.foreground-phone {
  position: absolute;
  top: 80px;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.foreground-phone {
  transform: translate(-2.5px) scale(1);
}

main * h1{
  position: absolute;
  margin: 0;
  top: 80px;
  font-weight: var(--bold);
  font-size: 11.5vw;
  text-shadow: var(--text-shadow);
}

h1 > span {
  color: var(--secondaryColor);
  font-weight: var(--bold);
  text-shadow: var(--text-shadow);
}

section {
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  /* height: calc(100% - 20px); */
  margin-bottom: 50px;
  flex-direction: column;
  background: var(--tertiaryColor);
}

section > div {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  margin-top: 20px;
  max-width: 304px;
  border-radius: 8px;
  /* gap: 5px; */
  background: var(--linear-gradient);
  border: 1px solid rgba(243, 224, 161, 0.30);
  backdrop-filter: blur(10px);
  box-shadow: var(--drop-shadow);
}

.specs-content {
  text-align: center;
  margin-left: 13px;
}

.image-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.image-content > h2 {
  color: var(--secondaryColor);
}

div > h2 {
  font-size: 14px;
  font-weight: var(--medium);
  text-shadow: var(--text-shadow);
  margin: 10px 0;
}

div > p {
  font-size: 12px;
  font-weight: var(--regular);
  margin: 8px 0;  
}

div > button {
  background-color: red;
  border-radius: var(--radius);
  border-style: none;
  width: 74px;
  height: 24.13px;
  color: var(--tertiaryColor);
  margin: 8px 0;
}

footer {
  position: relative;
  /* top: 20px; */
  height: 100%;
  background: green;
}

@media screen and (min-width: 768px) {
  section {
    flex-direction: row;
    justify-content: center;
  }
}